html {
    background-image: url("../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover
}
h1 {
    text-align: center;
    color: white;
    margin-left: 20px
}
div img {
    position: absolute;
    bottom: 0;
    right: 0;
}
div iframe {
    border: 2px solid yellow;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 50px;   
}

footer {
    margin-top: 50px;
    padding: 25px;
    color: white;
}

main p {
    margin-bottom: 50px;
    font-size: 50px;
}

body > main > center > p > a {
    color: white;
    text-decoration: none;
}
body > main > center > p > a:hover {
    color: red;
}